// app global css in SCSS form
.w-40px {
  width: 40px;
}

.rounded100 {
  border-radius: 100px;
}

.balloon{
  position: relative;
  padding: 20px;
  background-color: #bdffad;
  box-shadow: 0px 0px 10px 0px #a7a7a7;
}

.balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 20px;
  top: -15px;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #bdffad;
  border-left: 15px solid transparent;
}
